@use "../../sass/variables" as *;

.movie {
    margin: 80px 0;
    
    &__image {
        img {
            border-radius: 10px;
            height: 400px;
            margin: 0 50px;
        }
    }
}